<server description="CICS Enterprise Java Program template configuration">

    <!-- Enable features -->
    <featureManager>
        <feature>cicsts:core-1.0</feature>
        <feature>cicsts:link-1.0</feature>
    </featureManager>
    
    <!-- Default HTTP End Point -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" />

    <!-- Reduce z/FS overheads by reducing config and app polling -->
    <config monitorInterval="5s" updateTrigger="polled" />
    <applicationMonitor updateTrigger="disabled" dropins="dropins"
        dropinsEnabled="false" pollingRate="5s" />
</server>